*
{
    box-sizing: border-box;
}

.calculator-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers-dis-container{
    height: 500px;
    width: 250px;
    background-color: #204981;
    border-radius: 20px;
}
.numbers-list{
    list-style-type: none;
    padding-left:5px;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}

.numbers-display{
    height: 200px;
    color: #ffffff;
    text-align: right;
    font-family: "Roboto";
    font-size: 16px;
    padding: 15px;
}

.buttons-container{
    width: 250px;
    background-color: #021a3b;
    height: 270px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; 
    display: flex;
}

.operations-list{
    list-style-type: none;
    padding-left:5px;
    display: flex;
    flex-wrap: wrap;
    width: 50px;
}